.wrapper__info-service {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    width: max-content;
    font-size: 22px;
}

.search-photo-form {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
}

.search-photo-form input {
    border: none;
    border-bottom: 1px solid #000;
    width: 80%;
    outline: none;
    font-size: 22px;
}

.search-photo-form button {
    width: 18%;
    border: none;
    cursor: pointer;
    padding: 5px;
    font-size: 22px;
}



